{% extends 'myblog/base.html' %}


{% block content %}

 <h1>What we do?</h1>
  <h3>Information Refinery is a place where we refine & redefine information on any given topic irrespective of its related field in a concise manner as per your demands.</h3>
  <h3>You have to just submit a request  on any given topic in the extras column with all the details of the topic(e.g Required points,Word Count,CatchyIntro,Mindful Conclusion...etc) and we will create your very own customised article or essay.</h3>
  <h3>You can  even have a glance at the various topics which we have pre-customised, at our homepage.</h3>
  



{% endblock %}

